@import "../../assets/mixins";

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  .menu-buttons {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    button {
      background-color: transparent;
      border-bottom: 1px solid $halfred;
      margin: 0 10px;
    }
  }
}

#divider {
  position: absolute;
  top: 63px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 1px;
  background-color: $halfred;
  z-index: 0;
}

#logo {
  cursor: pointer;
  width: 180px;
  margin-top: 10px;
  margin-left: 50px;
}

#social-desktop {
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  a {
    opacity: 0.5;
    margin: 5px;
    border-bottom: 1px solid $red;
  }
}

@media screen and (max-width: 962px) {
  mat-sidenav-container {
    background-color: transparent !important;
    position: fixed;
    z-index: 9999;
  }

  mat-drawer-content {
    position: absolute !important;
  }

  mat-sidenav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    margin-top: 64px;
    z-index: 99;
    a {
      cursor: pointer;
      text-align: center;
      font-size: 25px;
      height: 50px;
      margin-top: 10px;
      &:first-child {
        margin-top: 60px;
      }
      &:nth-child(6) {
        font-size: 18px;
        color: $red;
      }
    }
  }
  #logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
    margin: 0;
  }

  #divider {
    top: 56px;
  }

  .hamburger {
    background-color: transparent;
    border: none;
    mat-icon {
      margin-top: 5px;
      font-size: 30px;
      color: $red;
    }
  }

  #social {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      margin: 5px 0;
      padding: 0px;
      opacity: 0.5;
      border-bottom: 1px solid $red;
    }
  }
}

@media screen and (max-width: 400px) {
  mat-sidenav {
    margin-top: 56px;
  }
}
