<mat-toolbar>
  <mat-toolbar-row>
    <button class="hamburger" (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm="true">
      <mat-icon>menu</mat-icon>
    </button>
    <div (click)="backToHome()"><img id="logo" src="assets/img/CinemApp.png" alt="cinemapp logo" /></div>
    <span id="divider"></span>
    <div fxShow="true" fxHide.lt-md="true" class="menu-buttons">
      <button mat-button (click)="logOut()" color="warn">
        <mat-icon>exit_to_app</mat-icon>
      </button>
      <button mat-button (click)="toProfile()" color="basic">
        <mat-icon>people</mat-icon>
      </button>
      <mat-divider vertical="true" style="height:auto"></mat-divider>
      <button mat-button (click)="toGenres()" color="basic">Genres</button>
      <button mat-button (click)="toDirectors()" color="basic">Directors</button>
      <button mat-button (click)="toActors()" color="basic">Actors</button>
      <button mat-button (click)="toMovies()" color="basic">Movies</button>
    </div>
    <div id="social-desktop" fxShow="true" fxHide.lt-md="true">
      <a href="https://www.linkedin.com/in/mihocsaszilard/" target="_blank" color="basic">
        <img src="assets/img/linkedin.svg" alt="linkedin logo">
      </a>
      <a href="https://github.com/mihocsaszilard" target="_blank" color="basic">
        <img src="assets/img/github.svg" alt="github logo">
      </a>
      <a href="https://twitter.com/MihocsaS" target="_blank" color="basic">
        <img src="assets/img/twitter.svg" alt="twitter logo">
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!--mobile navigation-->
<mat-sidenav-container fxShow="true" fxHide.gt-sm="true" fxFlexFill class="example-container">
  <mat-sidenav #sidenav>
    <div fxLayout="column">
      <a (click)="toMovies()" color="basic">Movies</a>
      <a (click)="toActors()" color="basic">Actors</a>
      <a (click)="toDirectors()" color="basic">Directors</a>
      <a (click)="toGenres()" color="basic">Genres</a>
      <a (click)="toProfile()" color="basic">Profile</a>
      <a (click)="logOut()" color="basic">Logout</a>
      <a (click)="sidenav.toggle()">Close</a>
      <div id="social">
        <a href="https://www.linkedin.com/in/mihocsaszilard/" target="_blank" color="basic">
          <img src="assets/img/linkedin.svg" alt="linkedin logo">
        </a>
        <a href="https://github.com/mihocsaszilard" target="_blank" color="basic">
          <img src="assets/img/github.svg" alt="github logo">
        </a>
        <a href="https://twitter.com/MihocsaS" target="_blank" color="basic">
          <img src="assets/img/twitter.svg" alt="twitter logo">
        </a>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>