<div id="#main-body">
  <mat-toolbar>
    <mat-toolbar-row>
      <button class="hamburger" (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm="true">
        <mat-icon>menu</mat-icon>
      </button>
      <span><img id="logo" src="../../assets/CinemApp.png" /></span>
      <span id="divider"></span>
      <div fxShow="true" fxHide.lt-md="true" class="menu-buttons">
        <button mat-raised-button color="basic">Logout</button>
        <button mat-raised-button (click)="toProfile()" color="basic">Profile</button>
        <button mat-raised-button color="basic">Genres</button>
        <button mat-raised-button color="basic">Directors</button>
        <button mat-raised-button color="basic">Actors</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <!--mobile navigation-->
  <mat-sidenav-container fxShow="true" fxHide.gt-sm="true" fxFlexFill class="example-container">
    <mat-sidenav #sidenav>
      <div fxLayout="column">
        <a color="basic">Genres</a>
        <a color="basic">Directors</a>
        <a color="basic">Actors</a>
        <a (click)="toProfile()" color="basic">Profile</a>
        <a color="basic">Logout</a>
        <a (click)="sidenav.toggle()">
          <mat-icon>close</mat-icon>Close
        </a>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>

  <div class="content">
    <div class="align-help" fxLayout="row wrap">
      <div class="movies-container" *ngFor="let movie of movies;">
        <mat-card class="card" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
          <mat-card-header>
            <mat-card-title class="movie-title">{{movie.Title}}</mat-card-title>
            <!-- <mat-card-subtitle>Directed by: {{movie.Director[0].Name}}</mat-card-subtitle> -->
          </mat-card-header>
          <div class="img-shadow"></div>
          <img class="movie-img" src={{movie.ImgPath}} alt={{movie.Title}} />

          <mat-card-actions>
            <button mat-button color="basic">
              Genre
            </button>
            <button mat-button color="basic">
              Director
            </button>
            <button mat-button color="basic">
              Synopsis
            </button>
            <mat-icon class="favorites-icon">favorite_border</mat-icon>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>