@import "../../assets/_mixins.scss";

#content {
  @include contentView;
}

.movies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.card {
  height: 550px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-bottom: 10px;
  background-color: #111 !important;
  padding: 0;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    transform: scale(1.05);
  }
}

mat-card-header {
  height: 0;
}

.mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  box-shadow: 0 2px 3px #222;
  min-width: 350px;
  a {
    cursor: pointer;
    padding: 5px 8px;
    font-size: 16px;
    border-right: 1px solid darken($halfred, 30%);
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  mat-icon {
    cursor: pointer;
    margin-left: 8px;
    padding-right: 5px;
  }
}

.favorites-icon {
  color: rgba($red, 0.75);
  display: flex;
  align-items: center;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.movie-title {
  font-size: 18px;
  font-weight: 600;
  width: 330px;
  display: flex;
  align-self: start;
  position: relative;
  top: 485px;
  padding-left: 10px;
  padding-bottom: 10px;
  z-index: 998;
  text-shadow: 0 0 5px #000;
  border-bottom: 1px solid $halfred;
}

.movie-img {
  height: 510px;
  width: 348px;
  border-radius: 10px;
}

.img-shadow {
  position: absolute;
  bottom: 38px;
  width: 350px;
  height: 100px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.align-help {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}
