.movies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px;
}

.card {
  height: 550px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-bottom: 10px;
  background-color: #000b0c !important;
  padding: 0;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.664),
      0 10px 10pxrgba (255, 255, 255, 0.603);
    transform: scale(1.05);
  }
}

mat-card-header {
  height: 0;
}

.movie-title {
  font-size: 22px;
  width: 330px;
  display: flex;
  align-self: start;
  position: relative;
  top: 475px;
  padding-left: 10px;
  z-index: 998;
  text-shadow: 0 0 5px #000;
}

.movie-img {
  height: 510px;
  width: 348px;
  border-radius: 10px;
}

.img-shadow {
  position: absolute;
  bottom: 38px;
  width: 350px;
  height: 100px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 999;
}

#logo {
  width: 180px;
  margin-top: 10px;
}

.align-help {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}
