$red: rgba(255, 0, 0, 0.9);
$halfred: rgba($red, 0.5);
$darkred: darken($red, 25%);
$almostblack: rgba(33, 33, 33, 1);
$white: rgba(240, 240, 240, 0.9);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", cursive;
}

@mixin contentView {
  h1 {
    font-size: 80px;
    text-shadow: 1px 2px 0 $red;
    color: $almostblack;
    margin-bottom: 35px;
  }
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

@mixin title {
  font-family: "Righteous", cursive;
  text-shadow: 1px 1px 0 $halfred;
  color: lighten($almostblack, 5%);
  margin: 10px;
}

@mixin textfont {
  color: $white;
  font-size: 18px;
  line-height: 1.6;
}

@mixin modal {
  #body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .triangle {
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: $almostblack;
    height: 600px;
    width: 600px;
    clip-path: polygon(0 23%, 0 0, 100% 100%, 43% 100%);
    z-index: -1;
  }

  #main-content {
    padding: 25px;
    width: 75%;
    color: $white;
    z-index: 2;
    button {
      position: fixed;
      top: 10%;
      right: 15%;
    }
    h1 {
      @include title;
      font-size: 50px;
    }
    p {
      padding-top: 25px;
      font-size: 20px;
      line-height: 1.6;
      border-top: 1px solid $halfred;
      z-index: 2;
    }

    img {
      height: 200px;
      float: right;
      margin-top: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid $halfred;
    }

    .p2 {
      border: 0;
    }
  }

  @media screen and (max-width: 400px) {
    #main-content {
      text-align: center;
      p {
        font-size: 16px;
      }
      h1 {
        font-size: 20px;
      }
      img {
        float: none;
      }
    }

    .triangle {
      display: none;
    }
  }
}
