@import "./assets/_mixins.scss";

::-webkit-scrollbar {
  width: 1px;
  /* Remove scrollbar space */
  background: #444;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: rgba(250, 0, 0, 0.75);
}
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cinemApp-Angular-client-primary: mat-palette($mat-indigo);
$cinemApp-Angular-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cinemApp-Angular-client-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cinemApp-Angular-client-theme: mat-light-theme(
  (
    color: (
      primary: $cinemApp-Angular-client-primary,
      accent: $cinemApp-Angular-client-accent,
      warn: $cinemApp-Angular-client-warn,
    ),
  )
);

$cinemApp-Angular-client-theme-dark: mat-dark-theme(
  (
    color: (
      primary: $cinemApp-Angular-client-primary,
      accent: $cinemApp-Angular-client-accent,
      warn: $cinemApp-Angular-client-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cinemApp-Angular-client-theme-dark);

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body,
* {
  margin: 0;
  font-family: "Spartan", sans-serif;
  font-size: 16px;
}

body {
  background-color: #111;
  color: azure;
}

.dark-theme {
  @include angular-material-theme($cinemApp-Angular-client-theme-dark);
}

.light-theme {
  @include angular-material-theme($cinemApp-Angular-client-theme);
}

.custom-dialog-container .mat-dialog-container {
  background-color: #111;
}
