<div id="main-container">
  <app-navbar></app-navbar>
  <div id="content">
    <h1>Profile</h1>
    <div class="profile">
      <h2>Hello {{user.Username}}</h2>
      <p>These are your data's:</p>
      <td style="width: 150px;">
        <tr>Firstname</tr>
        <tr>Lastname</tr>
        <tr>Birthday</tr>
        <tr>e-mail</tr>
      </td>
      <td>
        <tr><input value={{user.FirstName}} /></tr>
        <tr><input value={{user.LastName}} /></tr>
        <tr><input value={{(user.Birth).slice(0,10)}} /></tr>
        <tr><input value={{user.Email}} /></tr>
      </td>
    </div>
  </div>

</div>