@import "../../assets/_mixins.scss";

#content {
  @include contentView;
}

.spinner {
  @include spinner;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .card {
    max-width: 95%;
  }
  h2 {
    font-size: 26px;
  }
  p {
    border-bottom: 1px solid $halfred;
  }
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

mat-form-field {
  margin: 0 10px;
}

tr {
  height: 40px;
  font-size: 18px;
}

.favoriteTitle {
  margin-top: 20px;
  padding-top: 30px;
  text-align: left;
  border-top: 1px solid $halfred;
  line-height: 1;
}

.favoriteMovies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .movie-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $halfred;
    margin-bottom: 55px;
    &:last-child {
      border-right: none;
    }
    button {
      position: relative;
      bottom: 150px;
      margin: auto;
    }
    img {
      margin: auto;
      max-width: 200px;
      opacity: 0.7;
    }
  }

  h2 {
    @include title;
    font-size: 26px;
    color: $white;
    text-shadow: none;
    height: 60px;
  }
  text-align: center;
}

@media screen and (max-width: 877px) {
  #content {
    h1 {
      font-size: 60px !important;
    }
  }
  mat-card {
    form {
      grid-template-columns: 1fr;
    }
  }

  .favoriteMovies {
    flex-direction: column;
    .movie-container {
      border-right: none;
      border-bottom: 1px solid $halfred;
    }
  }
}
