<div id="main-container">
  <app-navbar></app-navbar>
  <div id="content">
    <h1>Profile</h1>
    <div class="profile">
      <div class="card">
        <h2>Hello {{user.Username}}</h2>
        <p></p>
        <!-- <td style="width: 150px;">
          <tr>Username</tr>
          <tr>Firstname</tr>
          <tr>Lastname</tr>
          <tr>Birthday</tr>
          <tr>e-mail</tr>
        </td> -->
        <td>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Account Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form>

                <mat-form-field appearance="legacy">
                  <input disabled matInput [(ngModel)]="user.Username" type="username" placeholder="Username"
                    name="Username">
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <input disabled matInput [(ngModel)]="user.Password" type="password" placeholder="Password"
                    name="Password">
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <input disabled matInput [(ngModel)]="user.FirstName" type="text" placeholder="Firstname"
                    name="FirstName">
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <input disabled matInput [(ngModel)]="user.LastName" type="text" placeholder="Lastname"
                    name="LastName">
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <input disabled matInput [(ngModel)]="user.Email" type="email" placeholder="e-mail" name="Email">
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <input disabled matInput [(ngModel)]="user.Birth" type="date" placeholder="Birthday" name="Birthday">
                </mat-form-field>
              </form>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="openEditDialog()">Edit</button>
              <button mat-raised-button color="warn" (click)="deleteProfile()">Delete</button>
            </mat-card-actions>
          </mat-card>
        </td>
      </div>
    </div>

    <h1 class="favoriteTitle">Favorite Movies</h1>
    <div class="favoriteMovies">
      <div class="movie-container" *ngFor="let fav of favoriteMovies">
        <h2>{{fav.Title}}</h2>
        <img src={{fav.ImgPath}} />
        <button mat-raised-button color="warn" (click)="removeFromFavs(fav._id, fav.Title)">Remove</button>
      </div>
    </div>
  </div>
</div>